<!-- use bootstrap -->
<div class="containter">
  <div class="list-group">
    <!-- ngFor: angularJs for loop--> 
    <!-- routerLink add here since the router happend on this component-->
    <a class="list-group-item" *ngFor="let p of problems"
      [routerLink]="['/problems', p.id]">
      <span class="{{'pull-left label difficulty diff-' + p.difficulty.toLocaleLowerCase()}}">
        {{p.difficulty}}
      </span>
      <strong class="title">{{p.id}}. {{p.name}}</strong>
    </a>
  </div>
</div>  