<div>
  <form #formRef="ngForm">
    <div class="form-group">
      <!-- <label> "for" should match with the <input> "name"-->
      <label for="problemName">Problem Name</label>
      <input type="text" class="form-control" 
      id="problemName" name="problemName"
      placeholder="Input problem name" required
      [(ngModel)]="newProblem.name">
    </div>
    <div class="form-group">
      <label for="problemDesc">Problem Description</label>
      <input type="text" class="form-control" 
      id="problemDesc" name="problemDesc"
      placeholder="Input description" required
      [(ngModel)]="newProblem.desc">
    </div>
    <div class="form-group">
      <label for="difficulty">Problem Difficulty</label>
      <!--drop down box-->
      <select class="form-control" id="difficulty" name="difficulty"
      [(ngModel)]="newProblem.difficulty">
      <!-- "difficulties" is defined in component.ts, [] property binding-->
        <option *ngFor="let d of difficulties" [value]="d">
          {{d}}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" (click)="addProblem()">Submit</button>
      </div>
    </div>
  </form>
</div>